<section class="no-padding" id="artifacts">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Artifacts</h2>
                <hr class="primary" />
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="software-design.html" class="portfolio-box">
                    <img src="img/pexels-christina-morillo-1181311.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Software Design and Engineering
                            </div>
                            <div class="project-category text-faded mt-2">
                                CS-360
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/pexels-pixabay-270348.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Data Structures & Algorithm
                            </div>
                            <div class="project-category text-faded mt-2">
                                CS-260
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/AdobeStock_138576855-2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-name">
                                Databases
                            </div>
                            <div class="project-category text-faded mt-2">
                                CS-360
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
