<section id="code-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Code Review</h2>
                <hr class="primary">
            </div>
            <p>
                Code review is vital in the development life cycle as it provides numerous benefits. Firstly, it helps in identifying and resolving 
                issues early on, saving time and effort in the long run. It also improves code quality by ensuring adherence to standards and promoting 
                consistency and readability. Additionally, code review facilitates knowledge sharing and collaboration among developers, leading to 
                better solutions and skill enhancement. It plays a crucial role in risk mitigation by identifying vulnerabilities and performance issues. 
                Code review fosters a sense of code ownership, teamwork, and continuous improvement, ultimately resulting in more secure, 
                reliable, and efficient software.
            </p>
            <p>
                In this code review, I plan on finding issues related to the design of the software, bugs that need to be fixed, as well as some areas that need 
                some housekeeping, cleanup or the addition of comments to make it easier on the next person to be able to jump right in and enhance the software.
                However, no matter how meticulous I can be in the code review, I expect to miss a few things that will be found at the time of coding. Which means,
                there may be some additional changes that make it to the codebase but weren't talked about in the Code Review.
            </p>
            <p>
                // TODO: Enter embedded code to the Youtube video here
            </p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="card" style="width: 36rem;">
                    <img src="../img/pexels-christina-morillo-1181311.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sofware Design & Engineering</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Learn More...</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <img src="../img/pexels-pixabay-270348.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Data Structures and Algorithms</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Learn More...</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <img src="../img/database-g80a7e1ee5_640.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Databases</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Learn More...</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</section>
