<section id="code-review">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Code Review</h2>
                <hr class="primary">
            </div>
            <div class="col-lg-12">
                Code review is vital in the development life cycle as it provides numerous benefits. Firstly, it helps in identifying and resolving 
                issues early on, saving time and effort in the long run. It also improves code quality by ensuring adherence to standards and promoting 
                consistency and readability. Additionally, code review facilitates knowledge sharing and collaboration among developers, leading to 
                better solutions and skill enhancement. It plays a crucial role in risk mitigation by identifying vulnerabilities and performance issues. 
                Code review fosters a sense of code ownership, teamwork, and continuous improvement, ultimately resulting in more secure, 
                reliable, and efficient software.
            </div>
            <div class="col-lg-12 mt-1">
                In this code review video, I analyzed the mobile application code from an engineering and design perspective as well as from a database perspective. 
                I was able to identified multiple issues. All the ones that were idenfied were fixed. But some others that did not jump to me in the code review were found
                while coding and fixed. Let's take a look at the video and see how I plan to tackle the issues identified.
            </div>
            <divp class="col-lg-12 text-center mt-2" style="padding-bottom: 0; margin-bottom: 0;">
                <iframe 
                    width="560" height="315" src="https://www.youtube.com/embed/9XwO7CNgCIc" title="YouTube video player" frameborder="0" 
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen>
                </iframe>
                <div class="text-small text-center"  style="padding-top: 0; margin-top: 0;">Code Review video</div>
            </div>
        </div>
    </div>
    <!-- <div class="container">
        <div class="row">
            <div class="col-lg-4 text-center">
                <div class="card" style="width: 36rem;">
                    <img src="../img/pexels-christina-morillo-1181311.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Sofware Design & Engineering</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Learn More...</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <img src="../img/pexels-pixabay-270348.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Data Structures and Algorithms</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Learn More...</a>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 text-center">
                <div class="card">
                    <img src="../img/pexels-pixabay-210607.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Databases</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="btn btn-primary">Learn More...</a>
                    </div>
                  </div>
            </div>
        </div>
    </div> -->
</section>
