<section id="design">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2 class="section-heading text-center">Software Engineering & Design</h2>
                <hr class="primary" />
            </div>
            <div class="col-lg-12">
                <p>
                    The artifact chosen for this part of the course (software Design and Engineering) is a mobile application. To be more specific, 
                    it’s an Android mobile application. This mobile application was created to be an Inventory Management application, which was 
                    developed between September and October 2022 as part of the Mobile Application and Programming class. The language used to develop 
                    this application is Java and the IDE used is Android Studio.
                </p>
                <p>
                    The inventory management app allows users to add, delete, update, and retrieve inventory through a user interface. This artifact 
                    was selected as it demonstrates my ability to create and design a user interface that is intuitive and appealing. It also demonstrates 
                    my ability to use Java as the backend language to manipulate user data using the CRUD operations.
                </p>
                <p>
                    I was fortunately able to make the changes I planned on making to the applications and I was even able to 
                    deliver more than what I planned. Among the things I planned on doing were:
                </p>
                <ul>
                    <li>Creating a Register page that only appears only if there is no user in the DB.</li>
                    <li>Removing link to the Register page from the Login page.</li>
                    <li>Removing link to the Login page from the Register page.</li>
                    <li>Adding key listeners for the Enter key on both Login and Register pages.</li>
                    <li>Removing unused codes.</li>
                    <li>Replacing hardcoded strings with reference to the String Resources.</li>
                </ul>
                <p>
                    In addition to those changes I was able to do two things that I did not plan for, but felt was necessary while I was enhancing and 
                    testing the app. These were:
                </p>
                <ul>
                    <li>Adding a check to prevent user from saving an empty item.</li>
                    <li>
                        Requiring a complex password when registering a user as well as a detailed message when the password complexity is not met so 
                        the user knows exactly how to fix it.
                    </li>
                </ul>
                <p>
                    The process of enhancing the application was really fun. I like how I go from identifying an issue, planning on how to fix it, 
                    coding the fix, and testing it. Then if it doesn’t work, loop through the process again and again until the issue is resolved, at 
                    which point it’s ok to go to the next issue. I never lose patience when I can’t figure things out. As a matter of fact, I think it 
                    causes me to find more joy when I finally find the fix. And seeing ideas turning into real-world applications that somebody could 
                    potentially use is a very rewarding feeling. I enjoy coding way more than even writing this.
                </p>
                <p>
                    But all that fun didn’t come with no challenge. I actually discovered a bug while testing. If you are in the username textbox and 
                    press the Enter key instead of Tabbing out of that field, it will break the line within the field and acts as if it was a multi-line 
                    text area. And since those fields are meant to only show one line, the data entered becomes hidden from view. I wanted to fix that 
                    not only to prevent that ugly UI issue from happening, but I also wanted the user experience to be better by allowing the user to use 
                    the enter key as the Tab key since there is no Tab button in the phone’s virtual keyboard. It took me a few hours to fix that minor 
                    issue alone. But at the end, I was so happy.
                </p>
                <p>
                    In this part of the project, I was able to meet the following course outcome:<br>
                </p>
                <blockquote>
                    <strong>Course Outcome 1:</strong> EmployED strategies for building collaborative environments that enable diverse audiences 
                    to support organizational decision making in the field of computer science by completing the following enhancements
                </blockquote>
                <p>
                    This was met in this part of the project by ensuring that the code is commented out clearly and concisely. Which will enable any developer
                    to quickly read through and understand what the code is doing enough to jump in and make changes or enhance the application.
                </p>
                </p>
                <p>
                    What I learned in this assignment on the other hand, is something I’ve been learning for some time now. It’s how to be patient when 
                    the solution seems to be eluding me.
                </p>

                <!-- Links to projects on Github -->
                <div>
                    <h3>Links to Projects</h3>
                    <ul>
                        <li><a href="https://github.com/jpetit257/InventoryMgt-Old">Link to Original Inventory Management app</a></li>
                        <li><a href="https://github.com/jpetit257/InventoryMgt-New">Link to Enhanced Inventory Management app</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</section>
