<nav id="mainNav" class="navbar navbar-custom navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="img/portfolio-logo.png" height="45px"></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right mt-3">
                <li><a class="page-scroll pt-1" href="#about">Self-Assessment</a></li>
                <li><a class="page-scroll mt-1" href="#code-review">Code Review</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Design and Engineering</a></li>
                    <li><a href="#">Data Structures and Algorithms</a></li>
                    <li><a href="#">Databases</a></li>
                  </ul>
                </li>
                <li><a class="page-scroll mt-1" href="#design">Design</a></li>
                <li><a class="page-scroll" href="#algorithms">Algorithms</a></li>
                <li><a class="page-scroll" href="#database">Database</a></li>
                <li><a class="page-scroll" href="#contact">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
